.summary {
    display: flex;
    flex-direction: column;
    
  }
  
  .title {
    font-family: Verdana;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
  }
  
  .textContainer {
    text-align: left;
  }
  
  .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    color: #9B9FAA;
    margin: 0 0 16px 0;
    text-transform:capitalize;
  }

  .productList{
    list-style: none;
    padding: 0;
  }

