.productListContainer{
    margin-right:20px;
    min-height: 330px;
}

.productList{
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 300px; 
    overflow-y: auto;
    list-style: none;
    padding: 0;
    width: 80%;

}

.title {
    font-family: Verdana;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4%;
  }
  
  .textContainer {
    text-align: left;
  }
  
  .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform:capitalize; 

  }
  
  @media screen and (min-width: 768px) {
    .productListContainer{
        flex-direction: row;
        gap: 30vw;
    } 
    .textContainer {
        width: 80%;
      }

  }
  @media screen and (min-width: 1024px) {
    .productListContainer{
        flex-direction: column;
        gap: 20px;
    }
    
  }