.calendarContainer {
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
}

.selectedDate {
  font-family: Verdana;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  font-weight: 700;
  width: 116px;
}
.calendarIcon {
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.calendar {
  position: absolute;
  top: 300%;
  left: 40%;
  transform: translate(
    -50%,
    -50%
  ); /* Centers the calendar both horizontally and vertically */
}
